.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding: 20px;
}

.header h1 {
  color: #ffffff;
  font-size: 24px;
}

.header .add {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #02e919;
  text-align: right;
  font-weight: 500;
}

.header .add a {
  display: flex;
  align-items: center;
}

.header .add .disabled {
  cursor: not-allowed;
  color: gray;
}

.header .add .label {
  margin-left: 10px;
}
