.container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 20px;
  padding: 20px;
}

.container-cards .card {
  padding: 10px;
  background: #21242a;
  border-radius: 23px;
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.header-content {
  flex-grow: 1;
}

.container-cards .card .title,
.container-cards .card .subtitle,
.container-cards .card .subtitle-symbol {
  color: #ffffff;
  text-align: left;
  font-weight: 500;
}

.container-cards .card .title {
  font-size: 18px;
}

.container-cards .card .subtitle {
  font-size: 32px;
}

.container-cards .card .subtitle-symbol {
  font-size: 14px;
  color: #b0afb0;
}

.container-cards .card .remove-button {
  margin-left: 10px;
  right: 0;
}

.icons-percentage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.icon-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-mdc-card-header {
  padding: 16px 0 0 16px;
}

.vertical-border {
  margin-top: 10px;
  border-left: 6px solid pink;
}

.card-0 .vertical-border {
  border-left-color: #f7931a;
}
.card-1 .vertical-border {
  border-left-color: #7f6ee9;
}
.card-2 .vertical-border {
  border-left-color: #009393;
}
.card-3 .vertical-border {
  border-left-color: #f1b90a;
}
.card-4 .vertical-border {
  border-left-color: #9b45ff;
}
.card-5 .vertical-border {
  border-left-color: #2775ca;
}
