.dialog-container {
  height: 200px;
  width: 500px;
  padding: 10px;
  background: #21242a;
}

.title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  transition: transform 0.2s;
}

.btn-secondary {
  border: #02e919 1px solid;
  color: #ffffff !important;
}

.btn-secondary:hover {
  transform: scale(1.05);
}

.btn-primary {
  background: #02e919;
}

.btn-primary:hover {
  transform: scale(1.05);
}
